@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary_red: hsl(0, 100%, 74%);
  --primary_green: hsl(154, 59%, 51%);
  --accent_blue: hsl(248, 32%, 49%);
  --neutral_dark_blue: hsl(249, 10%, 26%);
  --neutral_light_grey: rgba(124, 115, 122, 0.438);
  --neutral_grayish_blue: hsl(246, 25%, 77%);
  --neutral_white: #fff;

  --ff: "Poppins", sans-serif;
}

* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--ff);
  font-size: 1rem;
  width: 100vw;
  height: 100vh;
  background-image: url(../images/bg-intro-desktop.png);
  background-color: var(--primary_red);
  background-size: cover;
  background-position: center;
}

.main {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.left {
  width: 35%;
  height: 80%;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--neutral_white);
}

.left__header {
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.3rem;
}
.left__text {
  margin-top: 2rem;
}

.right {
  width: 32%;
  min-width: 400px;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.right__banner {
  width: 100%;
  height: 3rem;
  background-color: var(--accent_blue);
  border-radius: 10px;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 8px 2px var(--neutral_light_grey);
}

.right__banner > p {
  font-weight: 400;
  font-size: 0.9rem;
  text-align: center;
  color: var(--neutral_grayish_blue);
}

.right__banner span {
  font-weight: 500;
  color: var(--neutral_white);
}

.right__form {
  width: 100%;
  height: 65%;
  padding-top:5%;
  padding-bottom: 5%;
  background-color: var(--neutral_white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text__err {
  font-size: 0.65rem;
  text-align: end;
  color: var(--primary_red);
}

.right__form__form {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.composite {
  width: 100%;
}

.ierror {
  width: 100%;
  height: 3rem;
  position: relative;
}

.ierror:not(error) {
  border: 0;
}

.ierror.error {
  border: 1px solid var(--primary_red);
}

.ierror__text {
  color: var(--primary_red);
  text-indent: 2rem;
  font-size: 0.8rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.right__form__form > .composite > .ierror > input {
  width: 100%;
  height: 100%;
  font-weight: 700;
  border-radius: 5px;
  text-indent: 2rem;
  border: 1px solid var(--neutral_grayish_blue);
  position: absolute;
}

.ierror > img {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

input:not(error) {
  visibility: visible;
}

input.error {
  visibility: hidden;
}

.right__button {
  width: 100%;
  height: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--primary_green);
  color: var(--neutral_white);
  outline: none;
  border: 1px solid var(--primary_green);
  filter: blur(0.4px);
  cursor: pointer;
}

.right__button:active {
  box-shadow: 1px 2px 10px var(--primary_green);
}

.right__fineprint {
  font-weight: 400;
  font-size: 0.65rem;
  color: var(--neutral_grayish_blue);
  filter: blur(0.3px);
  /* margin-top: -3%; smove closer to button on top */
}

.red--text {
  color: var(--primary_red);
}

/*Media Query for Responsive Design*/

@media screen and (max-width: 800px) {
  .main {
    flex-direction: column;
    height: auto;
  }

  .left {
    min-width: 350px;
    height: 300px;
  }

  .right {
    min-width: 350px;
    height: 600px;
  }

  .left__header {
    font-weight: 700;
    font-size: 2rem;
    line-height: 3.3rem;
    text-align: center;
  }
  .left__text {
    text-align: center;
    margin-top: 1.5rem;
  }

.right__banner {
  width: 100%;
  height: 6rem;

}

.right__banner > p {
  margin: 0 auto;
  text-align: center;
  width: 60%
}

.right__fineprint {
  width: 70%;
  font-size: 0.6rem;
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
